*{
	box-sizing: border-box;
}

.table{
	background-color: grey;
    border: 15px solid grey;
    margin-left: auto;
    margin-right: auto;
    width: 16em
    border-spacing: 0;
    padding: 1%;
}
